@media screen and (min-width: 1200px) {

    .detailsPageMain .main-title,
    .serviceDetailsMain .main-title {
        font-size: 100px;
    }
}

@media screen and (max-width: 1200px) {

    .detailsPageMain .main-title,
    .serviceDetailsMain .main-title {
        font-size: 7vw;
    }

    .container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }
}

@media screen and (max-width: 992px) {
    .servicesMain2 {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        grid-column-gap: 0;
    }

    .servicesMain2 .rightSide,
    .servicesMain2 .middle {
        grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    }

    .servicesMain2 .middle:first-child {}

    .serviceCard.mLarge {
        grid-column: span 2;
    }

    .servicesMain2>*:not(:first-child) {
        height: auto;
        margin-top: -20px;
    }


    .rightSide .serviceCard {
        height: auto;
    }

    .serviceMain2 .card-container {
        display: flex;
        overflow: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        gap: 20px;
        padding: 25px 0;
    }

    .serviceMain2 .card-container .card {
        width: 270px;
        flex-shrink: 0;
        scroll-snap-align: start;
        transition: transform 0.3s ease-in-out;
        user-select: none;
        cursor: grab;
        flex: none;
    }

    header .mainHeader {
        padding: 0;
    }

    header .mainHeader .bar {
        display: block;
    }

    .navigation {
        display: none;
    }


    .detailsPageMain .film-item,
    .serviceDetailsMain .film-item {
        flex: 0 1 calc(33.33% - 40px);
    }
}

@media screen and (max-width: 768px) {

    .servicesMain .leftSide .topSection {
        grid-template-columns: 1fr 1fr;
    }

    .servicesMain .leftSide .bottomSection {
        grid-template-columns: 1fr 1fr;
    }

    .servicesMain .leftSide .bottomSection :first-child {
        grid-column: span 2;
        grid-row: span 2;
    }

    .serviceCard .cardInfo .heading.font-xxl {
        font-size: 40px;
    }

    .serviceCard .cardInfo .heading.font-md {
        font-size: 16px;
    }

    .serviceCard .cardInfo .heading.font-xl {
        font-size: 40px;
    }

    .serviceCard .cardInfo .heading.font-lg {
        font-size: 24px;
    }

    footer .footerMain {
        flex-direction: column;
        align-items: start;
    }

    footer .footerMain .copyRight {
        margin: 0;
    }

    .servicePageMain .serviceMain {
        display: block;
    }

    .servicePageMain .serviceMain .related-item {
        display: none;
    }

    .servicePageMain .serviceMain .related-count {
        padding: 25px 0;
        display: block;
    }

    .servicePageMain .serviceMain .related-count .smallTitle {
        font-size: 18px;
    }

    .servicePageMain .serviceMain .related-count .serviceNumber {
        font-size: 40px;
    }

    .servicePageMain .serviceMain .related-count .serviceDiscription {
        font-size: 14px;
    }

    .servicePageMain .serviceMainMobial {
        display: flex;
    }

    .detailsPageMain .content,
    .serviceDetailsMain .content {
        display: block;
    }

    .detailsPageMain .image-content,
    .serviceDetailsMain .image-content {
        display: none;
    }

    .detailsPageMain .descriptionTitle,
    .serviceDetailsMain .descriptionTitle {
        margin-bottom: 10px;
        font-size: 22px;
    }

    .detailsPageMain .image-content .CountMain {
        margin-top: 25px;
    }

    .detailsPageMain .image-content.mobile,
    .serviceDetailsMain .image-content.mobile {
        display: block;
        margin-bottom: 30px;
    }

    .detailsPageMain .image-content .CountMain .serviceNumber {
        font-size: 40px;
    }

    .detailsPageMain .image-content .CountMain .title {
        font-size: 18px;
    }

    .detailsPageMain .image-content .CountMain .serviceDiscription {
        font-size: 14px;
    }

}

@media screen and (max-width: 576px) {
    header .mainHeader .authArea button {
        font-size: 14px;
    }

    .btn {
        font-size: 16px;
        padding: 8px 16px;
    }
}